<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppApiID" value="176502" />
    <add key="AppApiHash" value="fc7a77bbc7539a02df29bb3652f5f995" />
    <add key="BotID" value="464216542" />
    <add key="BotHash" value="AAF25FiE-zNH1w-tdu45BVVKQRx1XGwgRZg" />
    <add key="Phone" value="79262198816" />
    <add key="DownloadFolder" value="C:\Rebot" />
  </appSettings>
</configuration>